@font-face {
    font-family: "Jost";
    font-optical-sizing: auto;
    font-display: swap;

    src: url('$lib/fonts/Jost/Jost-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: "Courier Prime";
    font-optical-sizing: auto;
    font-display: swap;

    src: url('$lib/fonts/Courier_Prime/CourierPrime-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "EB Garamond";
    font-optical-sizing: auto;
    font-display: swap;

    src: url('$lib/fonts/EB_Garamond/EBGaramond-VariableFont_wght.ttf') format('truetype');
}

html, body {
    margin: 0 !important;
    padding: 0 !important;

    background-color: rgb(250, 250, 250);
}

body {
    overflow: hidden;
    touch-action: none;
}

:root {
    --jost: "Jost"
}